.all {

}

.all h1 {
    @apply text-4xl lg:text-5xl font-medium lg:font-bold mb-2 lg:mb-4;
}

.all h2 {
    @apply text-3xl lg:text-4xl font-medium mb-2;
}

.all p {
    @apply lg:text-lg text-sm font-light text-gray-500;
}

.all strong {
    @apply font-bold text-secondary;
}

.all section:not(:first-child) {
    @apply my-16;
}

.all .emba__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding-left: 1rem;
    position: relative;
}